
venv/Lib/site-packages/beautifulsoup4-4.9.1.dist-info/AUTHORS
venv/Lib/site-packages/beautifulsoup4-4.9.1.dist-info/COPYING.txt
venv/Lib/site-packages/beautifulsoup4-4.9.1.dist-info/INSTALLER
venv/Lib/site-packages/beautifulsoup4-4.9.1.dist-info/LICENSE
venv/Lib/site-packages/beautifulsoup4-4.9.1.dist-info/METADATA
venv/Lib/site-packages/beautifulsoup4-4.9.1.dist-info/RECORD
venv/Lib/site-packages/beautifulsoup4-4.9.1.dist-info/top_level.txt
venv/Lib/site-packages/beautifulsoup4-4.9.1.dist-info/WHEEL
venv/Lib/site-packages/bs4-0.0.1.dist-info/INSTALLER
venv/Lib/site-packages/bs4-0.0.1.dist-info/METADATA
venv/Lib/site-packages/bs4-0.0.1.dist-info/RECORD
venv/Lib/site-packages/bs4-0.0.1.dist-info/top_level.txt
venv/Lib/site-packages/bs4-0.0.1.dist-info/WHEEL
venv/Lib/site-packages/bs4/__init__.py
venv/Lib/site-packages/bs4/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/bs4/__pycache__/dammit.cpython-38.pyc
venv/Lib/site-packages/bs4/__pycache__/diagnose.cpython-38.pyc
venv/Lib/site-packages/bs4/__pycache__/element.cpython-38.pyc
venv/Lib/site-packages/bs4/__pycache__/formatter.cpython-38.pyc
venv/Lib/site-packages/bs4/__pycache__/testing.cpython-38.pyc
venv/Lib/site-packages/bs4/builder/__init__.py
venv/Lib/site-packages/bs4/builder/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/bs4/builder/__pycache__/_html5lib.cpython-38.pyc
venv/Lib/site-packages/bs4/builder/__pycache__/_htmlparser.cpython-38.pyc
venv/Lib/site-packages/bs4/builder/__pycache__/_lxml.cpython-38.pyc
venv/Lib/site-packages/bs4/builder/_html5lib.py
venv/Lib/site-packages/bs4/builder/_htmlparser.py
venv/Lib/site-packages/bs4/builder/_lxml.py
venv/Lib/site-packages/bs4/dammit.py
venv/Lib/site-packages/bs4/diagnose.py
venv/Lib/site-packages/bs4/element.py
venv/Lib/site-packages/bs4/formatter.py
venv/Lib/site-packages/bs4/testing.py
venv/Lib/site-packages/bs4/tests/__init__.py
venv/Lib/site-packages/bs4/tests/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_builder_registry.cpython-38.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_docs.cpython-38.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_html5lib.cpython-38.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_htmlparser.cpython-38.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_lxml.cpython-38.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_soup.cpython-38.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_tree.cpython-38.pyc
venv/Lib/site-packages/bs4/tests/test_builder_registry.py
venv/Lib/site-packages/bs4/tests/test_docs.py
venv/Lib/site-packages/bs4/tests/test_html5lib.py
venv/Lib/site-packages/bs4/tests/test_htmlparser.py
venv/Lib/site-packages/bs4/tests/test_lxml.py
venv/Lib/site-packages/bs4/tests/test_soup.py
venv/Lib/site-packages/bs4/tests/test_tree.py
venv/Lib/site-packages/soupsieve-2.0.1.dist-info/INSTALLER
venv/Lib/site-packages/soupsieve-2.0.1.dist-info/LICENSE.md
venv/Lib/site-packages/soupsieve-2.0.1.dist-info/METADATA
venv/Lib/site-packages/soupsieve-2.0.1.dist-info/RECORD
venv/Lib/site-packages/soupsieve-2.0.1.dist-info/top_level.txt
venv/Lib/site-packages/soupsieve-2.0.1.dist-info/WHEEL
venv/Lib/site-packages/soupsieve/__init__.py
venv/Lib/site-packages/soupsieve/__meta__.py
venv/Lib/site-packages/soupsieve/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/soupsieve/__pycache__/__meta__.cpython-38.pyc
venv/Lib/site-packages/soupsieve/__pycache__/css_match.cpython-38.pyc
venv/Lib/site-packages/soupsieve/__pycache__/css_parser.cpython-38.pyc
venv/Lib/site-packages/soupsieve/__pycache__/css_types.cpython-38.pyc
venv/Lib/site-packages/soupsieve/__pycache__/util.cpython-38.pyc
venv/Lib/site-packages/soupsieve/css_match.py
venv/Lib/site-packages/soupsieve/css_parser.py
venv/Lib/site-packages/soupsieve/css_types.py
venv/Lib/site-packages/soupsieve/util.py
