#text_overlay {
    background-color: red;
    /* position: relative;
    display: inline-block;
    z-index: 5;
    padding-left: 5em;
    padding-top: 10em;

    /* position: relative; */


    /* text-align: justify;
    padding-left: 5em;
    padding-top: 10em; */ 
    /* background-color: rgba(255,255,255, .7) ; */
    
}