<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>sound archive</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap');
    </style>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_css.css') }}?v=0.0.1">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/text_overlay.css') }}?v=0.0.1"> -->


    <style>

    </style>
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"> -->
    <script type='text/javascript' src="{{ url_for('static',filename='js/p5/p5.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/p5/p5.sound.min.js') }}"></script>

</head>

<body>

    <!-- <h3 id="text_overlay">Hover over the sphere to play</h3> -->
    <!-- <div id="overlay"> 
            <div>
                <button id="startButton">Click to Play</button>
                <p>Audio playback requires user interaction.</p>
            </div>
        </div> -->
    <!-- <div id="container"></div>
    
        <div id="upload_form">
        <form action="/handleUpload" method="post" enctype="multipart/form-data">
            Choose the file: <input type="file" name="song"/><BR>
                <input type="submit" value="Upload"/>
        </form> 
    </div> -->

    <script type='text/javascript' src="{{ url_for('static',filename='js/circles_on_screen.js') }}"></script>
    <div id='header'>

        <div id='sub_header_main'>
            <h1 class='regular_header'>sound archive: DISEMBODIED FEMALE VOICE</h1>
        </div>

        <div id='sub_header'>
            <h3 class='sub_header_links'><a class='anchor_header' href="/about">ABOUT</a></h3>
            <h3 class='sub_header_links'><a class='anchor_header' href="/upload">UPLOAD</a></h3>
            <h3 class='sub_header_links'><a class='anchor_header' href="/">HOME</a></h3>
        </div>
    </div>


    <div id='text_overlay'>
        <p id='record_title'></p>
        <!-- <p class='inline'>Type: </p> -->
        <!-- <p id='record_type'></p>
        <p id='record_description'></p> -->
        <!-- <p id='record_id'></p> -->
        <p id='record_location'></p>
        <p id='record_date'></p>
        <br>
        <p id='record_play'></p>

    </div>



</body>



</html>