<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>sound archive</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap');
    </style>
    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_css.css') }}?v=0.0.1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/upload_css.css') }}?v=0.0.1">

    <style>


    </style>


<body>
    <div id="container"></div>

    <div id='header'>

        <div id='sub_header_main'>
            <h1 class='regular_header'>sound archive: DISEMBODIED FEMALE VOICE</h1>
        </div>

        <div id='sub_header'>
            <h3 class='sub_header_links'><a class='anchor_header' href="/about">ABOUT</a></h3>
            <h3 class='sub_header_links'><a class='anchor_header' href="/upload">UPLOAD</a></h3>
            <h3 class='sub_header_links'><a class='anchor_header' href="/">HOME</a></h3>
        </div>
    </div>


    <div id="upload_form">
        <h2>
            UPLOAD A NEW RECORDING
        </h2>

        <form id='data' action="/handleUpload" method="post" enctype="multipart/form-data" onsubmit="process()">

            <div id='form_left'>


                <p>1. Where do you hear this voice?</p>
                <input type="radio" id="transportation" name="category" value="transportation" checked="checked" required>
                <label for="transportation">public transport (e.g. buses, trains, stations)</label>
                <br>
                <input type="radio" id="supermarket" name="category" value="supermarket" required>
                <label for="supermarket">supermarket</label>
                <br>
                <input type="radio" id="other" name="category" value="other" required>
                <label for="other">other (e.g. airports)</label>
                <br>

                <br>
                <p>2. How often do you hear this voice?</p>
                <input type="radio" id="often" name="frequency" value="often" checked="checked" required>
                <label for="often">often</label>
                <br>
                <input type="radio" id="sometimes" name="frequency" value="sometimes" required>
                <label for="sometimes">sometimes</label>
                <br>
                <input type="radio" id="rare" name="frequency" value="rare" required>
                <label for="rare">rarely</label>
                <br>
                <br>

                <p>3. How would you rate voice on the recording?</p>
                <label for="KB" class='sub_question'>a) In what way does it give instructions or inform you?</label><br>
                <span class='minified'>Benevolent</span>
                <input type="range" id="KB_slider" name="KB" min="0" max="5" class="slider" required>
                <span class='minified'>Authoritarian</span><br>

                <br>

                <label for="AH" class='sub_question'>b) How does the voice sound like? </label><br>
                <span class='minified'>Natural</span>
                <input type="range" id="AH_slider" name="AH" min="0" max="5" class="slider" required>
                <span class='minified'>Artificial</span><br>


                <!-- name="genderS" value="1" checked="checked" -->
                <!-- <label class='inline_form' id='frequency_often' for="often"><span class="dot" id='dot_often'></span>often
                </label>
                <input class='inline_form' type="radio" name="frequency" id="often" value="often" checked="checked" required>


                <label class='inline_form' id='frequency_sometimes' for="sometimes"><span class="dot"
                        id='dot_sometimes'></span>sometimes </label>
                <input class='inline_form' type="radio" name="frequency" id="sometimes" value="sometimes" required>

                <label class='inline_form' id='frequency_rare' for="rare"><span class="dot" id='dot_rare'></span>rare
                </label>
                <input class='inline_form' type="radio" name="frequency" id="rare" value="rare" required><br><br> -->

                <br><br>
                <label for="song">choose your file:</label>
                <input type="file" name="song" required /><br><br>

                <input id='upload_button' type="submit" value="Submit" required />


            </div>

            <div id='form_right'>
                <label class='left_label' for="title">title:</label>
                <input type="text" name="title" required placeholder="Required"><br>

                <label class='left_label' for="location">location:</label>
                <input type="text" name="location" required placeholder="Required"><br>

                <!-- <label class='left_label' for="type">type:</label>
                <input type="text" name="type" required><br> -->

                <label class='left_label' for="description">description:</label>
                <textarea class='txt_area' rows="5" type="text" name="description" placeholder="Optional"></textarea><br>
                <!-- <input id='description_box' type="text" name="description" required><br> -->



                <label class='left_label' for="language">language:</label>
                <input type="text" name="language" placeholder="Optional"><br>

                <label class='left_label' for="mem_sentence">memorable sentences:</label>
                <textarea class='txt_area' rows="5" type="text" name="mem_sentence" placeholder="Optional"></textarea><br>


            </div>
        </form>
    </div>
    <script>
        function process() {
            var form = document.getElementById('data');
            var elements = form.elements;
            var values = [];
            already_checked_cat = false;
            already_checked_freq = false;

            for (var i = 0; i < elements.length; i++) {
                //document.querySelector('input[name=genderS]:checked').value
                console.log(elements[i])
                if (elements[i].name == 'frequency' && already_checked_freq == false) {
                    value = document.querySelector('input[name=frequency]:checked').value;
                    values.push(encodeURIComponent(elements[i].name) + '=' + encodeURIComponent(value));
                    already_checked_freq = true;
                }
                if (elements[i].name == 'category' && already_checked_cat == false) {
                    value = document.querySelector('input[name=category]:checked').value;
                    values.push(encodeURIComponent(elements[i].name) + '=' + encodeURIComponent(value));
                    already_checked_cat = true;


                } else {
                    values.push(encodeURIComponent(elements[i].name) + '=' + encodeURIComponent(elements[i].value));

                }
            }
            form.action += '?' + values.join('&');

        }
    </script>
    <script>
        // var KB_slider = document.getElementById("KB_slider");
        // var KB_output = document.getElementById("KB_value");
        
        // AH_slider.oninput = function () {
        //         AH_output.innerHTML = this.value;
        //     }


        // // Update the current slider value (each time you drag the slider handle)
        //     KB_slider.oninput = function () {

        //     var AH_slider = document.getElementById("AH_slider");
        //     var AH_output = document.getElementById("AH_value");
        //     // AH_output.innerHTML = AH_slider.value; // Display the default slider value
        //     // KB_output.innerHTML = KB_slider.value; // Display the default slider value
        //     // Update the current slider value (each time you drag the slider handle)
          

        // }
    </script>
</body>

</html>